<h4><%= _("Merge Articles") %></h4>
<%= form_tag({:controller=>"admin/content", :action=>"merge", :id=>params[:id]}, :method => "post") do %>
    <div><%= label_tag 'articleid', 'Article ID ' %>
      <%= text_field_tag 'merge_with', "#{params[:id]}" %></div>
      <%= hidden_field_tag 'originalid', "#{params[:id]}" %>
    <div><%= submit_tag 'Merge' %></div>
    <% end %>
